body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.top-header{
    width: fit-content;
    height: 500px;
    margin-bottom: 10px;
}
.header-left{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 60px;
    margin: 70px 0 0 0;
    padding: 0;
}
h1 span{
    color: #048CF7;
}
h3{
    font-size: 55px;
    margin: 0;
    padding: 0;
}
p{
    font-size: 16px;
    color: dimgray;
    text-align: justify;
}
.order-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(44, 141, 252),#048CF7);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.header-right{
    width:40%;
    float: right;
    margin-right: 5%;
    padding-right: 2%;
}
.header-right img{
    width: 100%;
}
.about-section{
    background-image: url('images/about-section.jpg');
    width: fit-content;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-bottom: 30px;
}
.about-left{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.about-left img{
    width: 100%;
}
.about-right{
    width:40%;
    float: right;
    margin-right: 5%;
    padding-right: 2%;
}
.about-right h3{
    font-size: 50px;
    padding: 90px 0 0 0;
}
.about-right p{
    font-size: 16px;
    padding: 0 20px 0 0;
    margin-bottom: 30px;
}
.contact-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(83, 151, 230),#048CF7);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.recipies{
    width:90%;
    margin-left: 5%;
    padding-left: 2%;
    margin-right: 5%;
    padding-right: 2%;
    height: 500px;
    margin-bottom: 300px;
}
.recipies h3{
    text-align: center;
    font-size: 30px;
}
.recipies p{
    text-align: center;
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;
}
.recipies-item{
    width: 370px;
    display:inline-block;
    background-color: rgb(235, 245, 250);
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: 5px -5px 15px 1px grey;
}
.single-item{
    width: 350px;
    padding: 0;
}
.recipies-item img{
    width: 335px;
    padding: 15px;
}
.item-title h3{
    font-size: 20px;
    text-align: center;
}
.item-body p{
    padding: 10px;
    text-align: justify;
    padding-left: 20px;
}
.food-network-info{
    width:82%;
    margin-left: 7%;
    padding-left: 2%;
    margin-right: 5%;
    padding-right: 2%;
    height: 150px;
    background-color: rgb(235, 245, 250);
    display:inline-block;
    border-radius: 30px;
    margin-bottom: 30px;
}
.info-item{
    display:inline-block;
    padding: 0 120px 0 120px;
}
.info-item h1{
    margin: 45px 0 0 0;
    padding: 0;
    font-size: 30px;
    text-align: center;
}
.info-item span{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: dimgray;
}
.customer-area{
    width:90%;
    margin-left: 5%;
    padding-left: 2%;
    margin-right: 5%;
    padding-right: 2%;
    height: 500px;
    margin-bottom: 220px;
}
.customer-area h3{
    text-align: center;
    font-size: 30px;
}
.customer-area p{
    text-align: center;
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;
}
.customer-details{
    width: 370px;
    display:inline-block;
    background-color: rgb(235, 245, 250);
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: 5px -5px 15px 1px grey;
}
.single-item{
    width: 350px;
    padding: 0;
}
.single-item img{
    width: 335px;
    height: 380px;
    padding: 15px;
    border-radius: 25px;
}
.item-title h3{
    font-size: 20px;
    text-align: center;
}
.item-body p{
    padding: 10px;
    text-align: center;
    padding-left: 20px;
}
footer{
    height: 150px;
    background-color: black;
    padding: 0px;
}
footer h1{
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    color: dimgray;
}
footer span{
    color: #048CF7;
}
footer p{
    text-align: center;
    color: dimgray;
}
